<div>
  <tabset>
    <tab heading="{{'tab.flight.heading' | translate}}">
      <div class="tab-wrapper">
          <ng-container *ngIf="(!isMobileDevice || (isMobileDevice && !isFormSubmit))">
            <search-flight (onFetchSearchParam)="fetchFlightList($event)"></search-flight>
          </ng-container>
          <flight-list *ngIf="showFlights && isFormSubmit" [searchParam]="searchParams" [flightList]="flightList"></flight-list>
      </div>
    </tab>
    <tab heading="{{'tab.hotel.heading' | translate}}">
      {{'tab.hotel.content' | translate}}
    </tab>
    <tab heading="{{'tab.car.heading' | translate}}">
      {{'tab.car.content' | translate}}
    </tab>
    <tab heading="{{'tab.other.heading' | translate}}">
        {{'tab.other.content' | translate}}
    </tab>
  </tabset>
</div>