@import './../common-scss/_variable.scss';
@import './../common-scss/_common.scss';
.sort-button-container {
    @extend .filter-btn-wrapper;
    padding: 1rem;
}

.sort-container {
    padding: 0.5rem 1rem;
    position: relative;
    .sort-name-details {
        @extend .input-label-details;
    }
}