@import './common-scss/_variable.scss';
body {
    font-size: 12px;
    font-weight: 400;
    color: $dark-grey;
    line-height: inherit;
    margin: 0;
    background: $white;
    height: auto;
    p {
        margin: 0;
        padding: 0;
    }
}