@import './_variable.scss';

.full-width {
    display: block;
    width: 100%;
}

.center-text {
    text-align: center;
}

.disabled {
    pointer-events: none;
    background: $dark-grey;
    cursor: not-allowed;
}

.vertically-middle {
    display: inline-block;
    vertical-align: middle;
}
.input-label-details {
    padding-left: 0.5rem;
}
@mixin app-btn() {
    padding: 0.5rem 1rem;
    border: 1px solid $border-color;
    border-radius: 0.5rem;
    background: $button-green;
    color: $white;
}

@mixin overlay-label() {
    position: absolute;
    top: 0.2rem;
    background: $white;
    padding: 1px 2px;
    z-index: 1;
    left: 2rem;
}
.btn.btn-primary {
    background: none;
    border-color: $button-blue;
    color: $button-blue;
}
.invalid-feedback {
    display: flex;
}
.app-btn-wrapper {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    button {
        padding: 1rem;
        border: 1px solid $border-color;
        border-radius: 0.5rem;
        background: $button-green;
        color: $white;
    }
}

.filter-btn-wrapper {
    @extend .app-btn-wrapper;
    justify-content: flex-end;
    button {
        padding: 0.3rem 1rem;
        margin-right: 0.5rem;
    }
}

.highlight-card {
    display: flex;
    flex-flow: column wrap;
    background: $white;
    padding: 0;
    margin-bottom: 1rem;
    .filter-container {
        padding: 1rem 0.5rem;
    }
    .filter-btn-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        .btn-details {
            @include app-btn;
            display: inline-flex;
            margin-right: 1rem;
            &.reset-btn {
                margin-right: 1rem;
                background: $btn-grey;
            }
        }
    }
}

.filter-label {
    padding: 1rem 0;
    border-bottom: 1px solid $border-color;
    border-top: 1px solid $border-color;
    width: 100%;
    font-weight: 500;
}

.header-section {
    height: 70px;
    display: flex;
    background: $card-blue;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    color: $white;
    position: relative;
    fa-icon {
        padding: 0 0.5rem;
    }
}

.full-flex {
    flex: 0 1 100%;
}

.dropdown-menu {
    background: $white;
    li {
        padding: 0.5rem;
        border-bottom: 1px solid $border-color;
    }
}

@media only screen and (max-width: 768px) and (orientation : portrait) {
    .header-section {
        justify-content: center;
        .left-arrow {
            position: absolute;
            left: 1rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .dropdown-menu {
        width: 100%;
        li {
            padding: 0.5rem;
            border-bottom: 1px solid #eeeeee;
        }
    }
}