$card-blue: #165AA1;
$white: #ffffff;
$tag-yellow: #EA9C3D;
$black: #000000;
$beige: #F5F5DC;
$red: #ED3833;
$btn-grey: #d0d0d0;
$dark-yellow: #F1D448;
$border-color: #eeeeee;
$button-green: #3C883F;
$button-blue: #0d6efd;
$dark-grey: #4a4a4a;